* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}


/************************** TAG SELECTORS ***********************/




header {
  height: 100px;
  box-shadow: 0 0 10px grey;
  background: rgba(218, 223, 225);
  background-image: url(../pictures/homePage.jpg);
  height: 757px;
  background-size: cover;
  background-position: center;


}


ul {
  float: right;
  list-style-type: none;
  margin-top: 54px;
  margin-right: 15px;

}


ul li {
  display: inline-block;
  padding: 5px 20px;

}

ul li a:hover {
  background-color: #019BA9;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/************************** CLASS SELECTORS ***********************/

.appointbutton {
  line-height: 50px;
}


.appointbutton button {
  margin-left: 658px;
  padding: 6px;
  background: transparent;
  border: 2px solid aliceblue;
  border-radius: 2px;

}


.appointbutton button a {
  text-decoration: none;
  color: aliceblue;

}


.appointbutton button:hover {
  border: transparent;
  transition: 0.4s;

}


.homeinfo {
  background-color: #019BA9;
  color: aliceblue;
  padding-top: 70px;
  line-height: 25px;
  padding-bottom: 70px;

}

.homeinfoimg {
  margin-top: -54px;

}


.homeinfo .appointinfo {
  padding-left: 658px;
  margin-top: -197px;

}


.info {
  margin-top: -146px;
  float: right;
  margin-right: 40px;

}

.phoneNumber {
  text-decoration: none;
  color: black;
}

.phoneNumber:hover {
  color: #019BA9;
}


.logo {
  margin-top: -60px;
  height: 215px;

}

.homePageNavBar {
  box-shadow: 0 0 10px;
  backface-visibility: visible;
  height: 110px;

}


.menubar li a {
  color: #019BA9;
  text-decoration: none;

}

.menubar2 {
  float: right;
  list-style-type: none;
  margin-top: -204px;
  margin-right: 1px;
  text-decoration: none;

}

.menubar2 li a {
  color: #019BA9;
}

.patientLogin img:hover {
  color: #019BA9;
  filter: hue-rotate(180deg);
}


/* ********************************** scheduleAppointment.html **************************************** */

@keyframes slideFromLeft {
  from {
    transform: translateX(-200px);
  }

  to {
    transform: translateX(0);
  }
}


.scheduleAppointmentMain {
  animation-name: slideFromLeft;
  animation-duration: 2s;
}


/* *************************** */
.form-popup {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  border: 1px solid orange;
  opacity: 100%;
}

.open-button {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

#returningPatientLoginForm {
  margin: auto;
  background-color: #fff;
  height: 65%;
  width: 50%;
  border-radius: 10px;
}

#newPatientCreateForm {
  margin: auto;
  background-color: #fff;
  height: 50%;
  width: 50%;
  border-radius: 10px;
}

.form-container input {
  width: 100%;
}

.btn:hover {
  color: #019BA9;
  filter: hue-rotate(180deg);
}

/* ****************************************************************************************************** */
.downoverlay {
  padding-bottom: 80px;
}

.downoverlayimg {
  margin-left: 79px;
  margin-top: -30px;
  height: 349px;
}




.facebookicon {
  height: 40px;
  margin-left: 168px;
  margin-top: 51px;
}

.twittericon {
  height: 36px;
  margin-left: 7px;
  margin-top: 18px;
}

.youtubeicon {
  height: 34px;
  margin-left: 7px;
  margin-top: 18px;
}

.instagramicon {
  height: 34px;
  margin-left: 7px;
  margin-top: 18px;
}

.quicklinks {
  list-style-type: none;
  margin-left: 787px;
  margin-top: -321px;
  text-decoration: none;
  line-height: 32px;
  font-size: 20px;

}

.quicklinks u {
  color: #019BA9;
  text-underline-offset: 8px;
}

.quicklinks li a {
  text-decoration: none;
  color: #019BA9;
}

.downoverlayservices {
  margin-left: 1087px;
  margin-top: -321px;
  list-style-type: none;
  line-height: 32px;
  list-style-type: none;
  font-size: 20px;
}

.downoverlayservices u {
  color: #019BA9;
  text-underline-offset: 8px;
}

.downoverlayservices li a {
  text-decoration: none;
  color: #019BA9;
}

/* ********************About Us **************************** */
.aboutUs h2 {
  font-size: 90px;
  color: #42b3e5;
  margin-top: 50px;
}


/* ************************ Map  ****************************** */
#map {
  border-radius: 20px;
  width: 80%;
  height: 500px;
}